@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

//  color palette from https://www.csscolorpalettes.com/palettes/467
/* .first-color {
	background: #57385c;
}

.second-color {
	background: #a75265;
}

.third-color {
	background: #ec7263;
}

.fourth-color {
	background: #febe7e;  */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "Rock Salt", cursive;
  color: #57385c;
  text-align: center;
}
